// :root {
// 	--color_main: #41b883;
// 	--color_text: #a2a5b9;
// 	--color_title: #aaaab3;
// 	--color_warning: #faad14;
// 	--color_danger: #e62965;
// 	--color_placeholder: #727272;
// 	--color_page_title: #999;
// 	--color_bg: #3b3b41;
// 	--color_bg_nav: #232326;
// 	--color_bg_menu: #2f2f34;
// 	--color_border: #404046;
// }

:root {
	--color_main: #41b883;
	--color_text: #000000;
	--color_title: #000000;
	--color_warning: #faad14;
	--color_danger: #e62965;
	--color_placeholder: #000000;
	--color_page_title: rgb(199, 196, 196);
	--color_bg: #ffffff;
	--color_bg_button: #d4d4d4;
	--color_bg_nav: #d4d4d4;
	--color_bg_menu: #ffffff;
	--color_border: #c0c0c0;
	--color_icon_border: #41b883;
}
